@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@theme {
  --color-layout: #0c0b07;
  --color-header: #ffe2b0;
  --color-dark-gold: #dd8d1b;
  --color-gold: #ffc72c;
  --color-light-gold: #e5b01f;
  --color-green-apple: #8ace56;
  --color-dark-red: #c4201a;
  --color-red: #d8130c;
  --color-brilliant-green: #5ec80c;
  --color-blue-gray: #1e2329;
  --color-borgon: #901511;
  --color-carbon-gray: #262522;
  --color-olive-green: #5a7420;
  --color-dark-gray: #3c3c3a;
  --color-coffee-gray: #372c2c;
  --color-deep-blue: #44728e;
  --color-ws-button: #075e54;
  --color-militar-green: #649042;
  --color-coral-red: #fd3d39;
  --color-simple-gold: #f2bc71;
  --color-gold-orange: #ffae3a;
  --color-yellow-cake: #ffd14b;
  --color-deep-red: #ff4b4b;
  --color-reminder: #d46613;
  --color-option: #ffde7e;

  --font-inter: "Inter", sans-serif;
  --font-poppins: "Poppins", sans-serif;

  --breakpoint-stable: 30rem;
}

@layer utilities {
  .border-gradient-rounded {
    background: linear-gradient(var(--bg-color, #181714), #181714) padding-box,
      linear-gradient(to top, transparent, #5a7420) border-box;
    border: 2px solid transparent;
    border-radius: 0.75rem 0.75rem 0 0;
  }

  .border-gradient-button {
    background: linear-gradient(var(--bg-color, #ffae3a), #965a06) padding-box,
      linear-gradient(to top, #965a06, #ffae3a) border-box;
    border: 2px solid transparent;
    border-radius: 0.75rem;
  }
}

@keyframes scroll-smooth {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(-10%);
  }
}

.animate-scroll-smooth {
  animation: scroll-smooth 2s linear infinite;
  display: flex;
}

#bingo-ball::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: inset 0 -6px 10px rgba(0, 0, 0, 0.4);
}